
/* css for all */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
.text-right{
    text-align: right;
}
.text-centre{
    text-align: center;
}
.text-white{
    color: white;
}
.clearfix{
    clear: both;
    float: none;
}
a{
    color:#f0932b;
    text-decoration: none;
}
a:hover{
    color: #cc8e35;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
}
.btn-primary{
    background-color: #FFC312;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #f6b93b;
}
h2{
    color: #535c68;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
/* css for all ends */


/* css for navbar starts */
.logo{
    width:15%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
/* css for navbar ends */


/* css for search starts */
.food-search{
    background-image: url(../images/search_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0%;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/* css for search ends */


/* css for categories starts */
.categories{
    padding: 4% 0%;
}
.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}
/* css for categories ends */


/* css for food lists starts */
.food-menu{
    background-color: #d2dae2;
    padding: 4% 0%;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0%;
}
.food-detail{
    font-size: 1rem;
    color: #808e9b;
}
/* css for food lists ends */


/* css for social media starts */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}
/* css for social media ends */


/* css for making website work on mobile starts*/
@media only screen and (max-width: 768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .menu ul{
        text-align: center;
    }
    .food-search input[type="search"]{
        width: 90%;
        margin-bottom: 3%;
        padding: 2%;
    }
    .food-search{
        padding: 10% 0;
    }
    .btn{
        width: 40%;
        padding: 2%;
    }
    .categories{
        padding: 20% 0 ;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 95%;
        margin: 5% 2%;
    }
    .food-menu{
        padding: 15% 0;
    }
    .food-menu-box{
        width: 85%;
        padding: 7% ;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .footer{
        padding: 5%
    }
}
/* css for making website work on mobile ends*/